* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #131C20;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    height: 100px;
    gap: 20px;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 8px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-bar button {
    padding: 9px 15px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .builderbutton {
    padding: 8px 20px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .topicons i {
    color: white;
    font-size: 24px;
    margin-left: 20px;
  }
  